{{ header }}
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link rel="stylesheet" type="text/css" href="/catalog/view/theme/default/stylesheet/copyright.css">
	<body>
		<div class="coop">
		<div class="headerImg">
			
		</div>
		<div class="center">
			<div class="cooperation">
			<h3 class="h3Title">商业合作</h3>
			<span class="spanTitle">Business</span>
			<p class="Pcontent">
				画作致力于将艺术品带入大众生活，让艺术品成为生活中必不可少的元素。我们拥有专业的艺术团队、严谨的态度、创新的设计和领先的技术，以全新业务模式进入艺术品装饰领域，真正实现大众能接受的高性价比艺术品。我们相信在未来五年，画作，将会逐渐打开中国墙面装饰的广阔市场，创造中国艺术品装饰的新局面。
			</p>
			<img src="/image/catalog/SiteAssets/img/shangyehezuo.jpg" class="imgAdult">
			<div class="cooplist">
				<span>最好的画作</span>
				<p>画作汇集了设计感和画面感俱佳的上万张艺术作品，每幅画都是匠心之作。我们选用细腻的日本爱普森原装进口11色环保墨水，使每张画作以最逼真细腻的色彩质感重现原作传奇风貌。画作还提供了多种高级材质和百搭款式的画框，为艺术品做完美点缀</p>
			</div>
			<img src="/image/catalog/SiteAssets/img/Line.png" class="fenLine">
			<div class="cooplist">
				<span>为买家设计</span>
				<p>画作将艺术品与中国工厂相结合，保证了产品价格优势及质量的严控把关。画作将所有艺术品进行分类，适应了多种家装和家具的风格特点。画作有专业的艺术团队，可以为您直接提供产品及相关资料。</p>
			</div>
			<img src="/image/catalog/SiteAssets/img/Line.png" class="fenLine">
			<div class="cooplist">
				<span>技术支持</span>
				<p>画作具有先进专业的技术支持，为客户带来全面可靠的浏览体验。画作网页支持PC端、iPad和手机APP三种方式，未来将更多的向移动端渗透，让客户随时随地了解和购买画作艺术品。</p>
			</div>
		</div>
		<div class="chanEnd"></div>
			<div class="trueIf">
			<div class="trueList">
				<a class="rug">
					如果您是
				</a>
				<span>线下画廊</span>
				<p>画作始终坚持艺术作品大众化的理念，希望艺术不只是一部分人的乐趣，而是所有人都能欣赏的美好。画作期待与优秀的艺术画廊携手合作，将艺术带入更多人的生活。如您有意向与画作合作，请与我们联系。</p>
				<div class="listBut">
					画廊合作
				</div>
				<img src="/image/catalog/SiteAssets/img/hualanghezuo.jpg">
			</div>
			<div class="trueList">
				<a class="rug">
					如果您是
				</a>
				<span>家具品牌</span>
				<p>家具是房屋中不可缺少的一部分，而艺术品是墙壁上必不可少的元素。房间因为有了艺术品和家具的相辅相成，才能更加突出风格和品味。艺术与家具的相遇定会带来新的家装体验。如您有意向与画作合作，请与我们联系。</p>
				<div class="listBut">
					家具品牌
				</div>
				<img src="/image/catalog/SiteAssets/img/jiajuhezuo.jpg">
			</div>
			<div class="trueList">
				<a class="rug">
					如果您是
				</a>
				<span>装饰设计</span>
				<p>每个人的性格不同，对于家的装饰设计风格也各不相同，为此画作创新了购物方式——按房间购物，并且推出了画作月刊，其中介绍了近万件艺术品，为装饰设计增添了更多艺术色彩。如您有意向与画作合作，请与我们联系。</p>
				<div class="listBut">
					装饰设计
				</div>
				<img src="/image/catalog/SiteAssets/img/zhaungshihezuo.jpg">
			</div>
			<div class="trueList">
				<a class="rug">
					如果您是
				</a>
				<span>家居装饰</span>
				<p>现在中国有将近98%的墙壁是空白的，画作希望通过我们的引导，让艺术品走进大众家庭，填补空白的墙壁，丰富无聊的生活。我们将为您提供上万张艺术作品，并做好类别细分及整理完善。如您有意向与画作合作，请与我们联系。</p>
				<div class="listBut">
					家居合作
				</div>
				<img src="/image/catalog/SiteAssets/img/jiajuhezuo-2.jpg">
			</div>
			<div class="trueList">
				<a class="rug">
					如果您是
				</a>
				<span>家纺品牌</span>
				<p>墙壁上的画作，与床上的纹样相互呼应，将房间整体的艺术感和设计感发挥到了极致。让我们联合双方优势，一起为客户提供更具品味的生活体验，实现双赢。如您有意向与画作合作，请与我们联系。</p>
				<div class="listBut">
					家纺合作
				</div>
				<img src="/image/catalog/SiteAssets/img/jiafang.jpg">
			</div>
		</div>
		</div>
	
		</div>
	</body>
</html>
{{ footer }}