<div id="settingsTable">
    <!-- <div style="width:250px;float:left;padding: 0 10px 0 10px;"> -->
    <div class="col-xs-2">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#dropbox" data-toggle="tab"><i class="fa fa-chevron-circle-right"></i>&nbspDropbox</a></li>
            <li><a href="#google" data-toggle="tab"><i class="fa fa-chevron-circle-right"></i>&nbspGoogle Drive</a></li>
        </ul>
    </div>
    <!-- <div style="padding:0 10px 0 10px;"> -->
    <div class="col-xs-10">
        <div class="tab-content">
            <div id="dropbox" class="tab-pane active">
                {{ dropbox_settings }}
            </div>
            <div id="google" class="tab-pane">
                {{ google_drive_settings }}
            </div>
        </div>
    </div>
</div>
